/* HOME */
.section{
    margin: auto;
}
#body__home{
    display: flex;
    margin: 0px 0px 300px 0px;
}
.body__home-index{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: var(--my-fontsize);
    position: relative;
}
.body__home-index h1{
    font-weight: lighter;
    text-align: center;
    margin: 5px 0px;
}
.body__home-index p{
    margin: 50px 0px;
}
.home-index__titleone{
    color: darkmagenta;
}
.home-index__titletwo{
    color: darkgreen;
}
.home-index__pone{
    display: flex;
    justify-content: flex-start;
    font-size: var(--fontsize-p);
    font-family: cursive;
}
.home-index__ptwo{
    display: flex;
    justify-content: flex-end;
    font-size: var(--fontsize-p);
    font-family: cursive;
}
.body__home-img{
    width: 450px;
    height: 450px;
    position: absolute;
    top: 80px;
    right: -240px;
    border-bottom-right-radius: 30%;
    border-bottom-left-radius: 30%;
}
.index__title-span{
    transition: all linear 0.2s;
}
.index__title-span:hover{
    transform: translateX(20px);
}

/* ABOUT ME */
#aboutMe{
    background-color: rgb(157, 209, 255);
    border-radius: 10px;
}
#aboutMe h1{
    margin: 0px;
    padding: 20px 0px 0px 20px;
    color: rgb(0, 0, 0);
    font-size: var(--my-fontsize);
    letter-spacing: 2px;
}
.aboutMe-form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutMe-form__profile{
    width: 700px;
    height: 400px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.form__profile-i{
    width: 250px;
    height: 250px;
    border-radius: 150vh;
    border: solid rgb(0, 0, 0) 5px;
    box-shadow: 5px 3px 3px rgb(200, 198, 198);;
}
.form-profile__p h3{
    font-weight: lighter;
    letter-spacing: 5px;
    font-size: 1.5em;
}
.form-profile_dis{
    display: flex;
    align-items: center;
}
.form-profile_dis p{
    margin: 10px 0px;
    letter-spacing: 2px;
}
.form__profile-i2{
    height: 70px;
}
p.profile-dis_mar, a.profile-dis_mar, img.profile-dis_mar{
    margin-left: 20px;
}