.footer{
    margin-top: 50px;
    background-color: black;
    height: 250px;
    color: white;
    outline: none;
}
.footer__box{
    width: 100%;
    background-color: rgb(250, 248, 248);
    height: 50px;
    border-top: 3px solid black;
    margin-bottom: 10px;
}
.footer__body{
    border-top: 3px solid rgb(230, 147, 147);
}
.footer__body-b{
    display: flex;
    height: 150px;
}
.one{
    background-color: red;
}
.two{
    background-color: yellow;
}
.three{
    background-color: green;
}