<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Style/Basic.css">
    <link rel="stylesheet" href="../Style/Main.css">
    <link rel="stylesheet" href="../Style/Grid.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="../Style/Body.css">
    <link rel="stylesheet" href="../Style/Footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <title>Profile</title>
    <script src="../js/about.js" defer></script>
</head>
<body class="body">
    <header class="header">
        <div class="header__logo">
            <h1>TRUONG HOAI LINH</h1>
        </div>
        <nav class="nav-group">
            <ul class="group-menu">
                <li class="menu-li"><a href="../index.html">Home</a></li>
                <li class="menu-li"><a href="aboutme.html">About me</a></li>
                <li class="menu-li"><a href="myprofile.html">My profile</a></li>
                <li class="menu-li"><a href="bank.html">Bank</a></li>
            </ul>
        </nav>
        <label for="nav__bars" class="nav__bars">
            <i class="fa-solid fa-bars"></i>
        </label>
        <input type="checkbox" hidden name="" id="nav__bars">
        <div class="nav__bars-box">
            <label for="nav__bars" class="navbar__overlay"></label>
            <div class="navbar__body">
                <ul class="bars__box-nav">
                    <li class="menu-li"><i class="fa-solid fa-house"></i><a href="../index.html">Home</a></li>
                    <li class="menu-li"><i class="fa-regular fa-address-card"></i><a href="aboutme.html">About me</a></li>
                    <li class="menu-li"><i class="fa-regular fa-face-smile"></i><a href="myprofile.html">My profile</a></li>
                    <li class="menu-li"><i class="fa-solid fa-money-check-dollar"></i><a href="bank.html">Bank</a></li>
                </ul>
                <label for="nav__bars" class="bars__box-icon">
                    <i class="fa-solid fa-xmark"></i>
                </label>
            </div>
    </header>

    <section class="section">
        <div class="about-body grid">
            <div class="about-navbar">
                <ul>
                    <li><a href="#Introduceyourself" onclick={checkIntroduceyourself()}>Introduce yourself</a></li>
                    <li><a href="#Careergoals" onclick={checkCareergoals()}>Career goals</a></li>
                    <li><a href="#Personalproject" onclick={checkPersonalproject()}>Personal project</a></li>
                    <li><a href="#Workexperience" onclick={checkWorkexperience()}>Work experience</a></li>
                    <div style="display: flex; justify-content: center; align-items: center; margin: 30px 0px; flex-direction: column;">
                        <button class="btn__next3" title="Home"><a href="../index.html"><i class="fa-solid fa-arrow-left"></i></a></button>
                        <p style="margin: 0px 20px; font-size: 25px; font-weight: bold; color: var(--color);">2/4</p>
                        <button class="btn__next3" title="Profile"><a href="myprofile.html"><i class="fa-solid fa-arrow-right"></i></a></button>
                    </div>
                </ul>
            </div>
            <div class="about-box">
                <div style="margin: 20px;">
                    <div id="Introduceyourself">
                        <h3>Introduce yourself</h3>
                        <p>I am Linh. I was born on March 29, 2003 in a small village in Binh Dinh province. I grew up in Binh Dinh but I moved to Ho Chi Minh City last year. My hobbies are reading stories and watching movies, especially horror movies. In addition, I also have a passion for art, which is calligraphy.</p>
                        <p>Everyone says I am a hard-working and sociable student. My strengths are creativity and principles. But what I don't do well is lack of confidence. I hope we can help each other in our work, thank you everyone.</p>
                    </div>
                    <div id="Careergoals" style="display: none;">
                        <h3>Career goals</h3>
                        <p>By applying and developing skills, experience and knowledge to become a content creation expert that brings value to businesses.</p>
                    </div>
                    <div id="Personalproject" style="display: none;">
                        <h3>Personal project</h3>
                        <div class="Personalproject-container">
                            <div class="Personalproject-containers">
                                <div class="Personalproject-box">
                                    <div class="Personalproject-title">
                                        <p><b>Name of project:</b></p>
                                        <p style="margin-left: 10px;">ETC</p>
                                    </div>
                                    <div class="Personalproject-item">
                                        <p><b>Activity duration:</b></p>
                                        <p style="margin-left: 10px;">20 days</p>
                                    </div>
                                    <div class="Personalproject-item">
                                        <p><b>Technology:</b></p>
                                        <p style="margin-left: 10px;">Html, Css, Reactjs(Class Components), Use Firebase to deploy</p>
                                    </div>
                                    <div class="Personalproject-item">
                                        <p><b>Link code:</b></p>
                                        <p style="margin-left: 10px;"><a href="https://github.com/TruongHoaiLinh3103/etc">https://github.com/TruongHoaiLinh3103/etc</a></p>
                                    </div>
                                    <div class="Personalproject-item">
                                        <p><b>Deploy:</b></p>
                                        <p style="margin-left: 10px;"><a href="https://etc2023-8e1aa.firebaseapp.com/?_gl=1*1lnxa8k*_ga*MTc2NDY1MjAzMy4xNjk0Mzk3ODQ2*_ga_CW55HF8NVT*MTY5NzcwMDIwNS4yMS4xLjE2OTc3MDAyMjcuMzguMC4w#/">etc2023-8e1aa.web.app</a></p>
                                    </div>
                                    <div class="Personalproject-experience">
                                        <p><b>Experience:</b></p>
                                        <p style="margin-left: 10px;">Understand more about class components</p>
                                    </div>
                                </div>
                                <div class="Personalproject-box">
                                    <div class="Personalproject-title">
                                        <p><b>Name of project:</b></p>
                                        <p style="margin-left: 10px;">Kensho</p>
                                    </div>
                                    <div class="Personalproject-item">
                                        <p><b>Activity duration:</b></p>
                                        <p style="margin-left: 10px;">20 days</p>
                                    </div>
                                    <div class="Personalproject-item">
                                        <p><b>Technology:</b></p>
                                        <p style="margin-left: 10px;">Html, Css, Reactjs(Hooks Components), Use Firebase to deploy</p>
                                    </div>
                                    <div class="Personalproject-item">
                                        <p><b>Link code:</b></p>
                                        <p style="margin-left: 10px;"><a href="https://github.com/TruongHoaiLinh3103/kensho">https://github.com/TruongHoaiLinh3103/kensho</a></p>
                                    </div>
                                    <div class="Personalproject-item">
                                        <p><b>Deploy:</b></p>
                                        <p style="margin-left: 10px;"><a href="https://kensho2023-e7ac3.web.app/#/">kensho2023-e7ac3.web.app</a></p>
                                    </div>
                                    <div class="Personalproject-experience">
                                        <p><b>Experience:</b></p>
                                        <p style="margin-left: 10px;">Understand more about hooks components</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="Workexperience" style="display: none;">
                        <h3>Work experience</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer" id="contact">
        <div class="footer__box1"></div>
        <div class="grid">
            <div class="footer__body grid_row">
                <div class="col4 footer__body-b s_col12 m_col6">
                    <h2>Liên hệ</h2>
                    <hr>
                    <div class="footer-form">
                        <ul class="footer-form-ul">
                            <li class="footer-form-li"><i class="fa-solid fa-location-dot"></i><p>Địa chỉ: 12/9 Tân Thới Nhất 5, Tân<br> Thới Nhất, Quận 12, TP.HCM</p></li>
                            <li class="footer-form-li"><i class="fa-solid fa-phone"></i><p>Điện thoại: 0356381315</p></li>
                            <li class="footer-form-li"><i class="fa-solid fa-location-dot"></i><p>Email: truonghoailinh3103@gmail.com</p></li>
                        </ul>
                    </div>
                </div>
                <div class="col4 footer__body-b s_col12 m_col6">
                    <h2>Truy cập nhanh</h2>
                    <hr>
                    <div class="footer-form">
                        <ul class="footer-form-ul">
                            <li class="footer-form-li"><i class="fa-solid fa-house"></i><a href="../index.html">Home</a></li>
                            <li class="footer-form-li"><i class="fa-regular fa-address-card"></i><a href="aboutme.html">About me</a></li>
                            <li class="footer-form-li"><i class="fa-regular fa-face-smile"></i><a href="myprofile.html">My profile</a></li>
                            <li class="footer-form-li"><i class="fa-solid fa-money-check-dollar"></i><a href="bank.html">Bank</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col4 footer__body-b s_col12 m_col6">
                    <h2>Fanpage</h2>
                    <hr>
                    <div class="footer-form">
                        <a href="https://www.facebook.com/thatnghiepmH"><img src="../Assets/Img/Untitled1.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__box2">
            <div class="grid"><p style="color: grey; font-size: 0.9em; font-weight: lighter;">© 2023. Tất cả các quyền được bảo lưu.</p></div>
        </div>
    </footer>
</body>
</html>