<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Style/Basic.css">
    <link rel="stylesheet" href="../Style/Main.css">
    <link rel="stylesheet" href="../Style/Grid.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="../Style/Body.css">
    <link rel="stylesheet" href="../Style/Footer.css">
    <title>Profile</title>
</head>
<body class="body">
    <header class="header">
        <nav class="nav-group">
            <ul class="group-menu">
                <li class="menu-li"><a href="index.html">Home</a></li>
                <li class="menu-li"><a href="aboutme.html">About me</a></li>
                <li class="menu-li"><a href="myprofile.html">My profile</a></li>
                <li class="menu-li"><a href="bank.html">Bank</a></li>
            </ul>
        </nav>
        <label for="nav__bars" class="nav__bars">
            <i class="fa-solid fa-bars"></i>
        </label>
        <input type="checkbox" hidden name="" id="nav__bars">
        <div class="nav__bars-box">
            <label for="nav__bars" class="navbar__overlay"></label>
            <div class="navbar__body">
                <ul class="bars__box-nav">
                    <li class="menu-li"><i class="fa-solid fa-house"></i><a href="index.html">Home</a></li>
                    <li class="menu-li"><i class="fa-regular fa-address-card"></i><a href="aboutme.html">About me</a></li>
                    <li class="menu-li"><i class="fa-regular fa-face-smile"></i><a href="myprofile.html">My profile</a></li>
                    <li class="menu-li"><i class="fa-solid fa-money-check-dollar"></i><a href="bank.html">Bank</a></li>
                </ul>
                <label for="nav__bars" class="bars__box-icon">
                    <i class="fa-solid fa-xmark"></i>
                </label>
            </div>
    </header>

    <section class="section">
        <div class="custom-shape-divider-bottom-1689592004">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
                <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
                <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
            </svg>
        </div>
        <div class="grid">
            <div class="col12" id="myProfile">
                <h1 class="myProfile-title">My profile</h1>
                <div class="myProfile-form">
                    <div class="myProfile-form__profile">
                        <img src="../Assets/Img/z4531318032430_2100fd67afdcdf688dbe68b51a44ec4f.jpg" alt="" class="form__profile-t">
                        <img src="../Assets//Img/z4531308809098_be8b35f1cf4f73b81d90807f0b32375a.jpg" alt="" class="form__profile-b">
                        <img src="../Assets/Img/z4531358486476_bee3e76af82384ead963b3ccd21bf910.jpg" alt="" class="form__profile-i">
                        <div class="form-profile__p">
                            <h3>I'm <b>Truong Hoai Linh</b></h3>
                            <div class="form-profile_dis">
                                <i class="fa-solid fa-lock"></i>
                                <p class="profile-dis_mar">Admin</p>
                            </div>
                            <hr>
                            <div class="form-profile_dis">
                                <p>Name:</p>
                                <p class="profile-dis_mar">Trương Hoài Linh</p>
                            </div>
                            <div class="form-profile_dis">
                                <p>Phone:</p>
                                <p class="profile-dis_mar">0356381315</p>
                            </div>
                            <div class="form-profile_dis">
                                <p>Email:</p>
                                <p class="profile-dis_mar">truonghoailinh3103@gmail.com</p>
                            </div>
                            <div class="form-profile_dis">
                                <p>Facebook:</p>
                                <a href="https://www.facebook.com/thatnghiepmH" class="profile-dis_mar">Trương Hoài Linh</a>
                            </div>
                            <div class="form-profile_dis">
                                <p>Zalo:</p>
                                <img src="../Assets/Img/z4527056192673_1c1fd399799b5e0b2f60dbc080e15557.jpg" alt="" class="form__profile-i2 profile-dis_mar">
                            </div>
                            <div class="form-profile_dis">
                                <p>Job:</p>
                                <p class="profile-dis_mar">Fontend developer</p>
                            </div>
                            <div class="form-profile_dis">
                                <p>Birthday:</p>
                                <p class="profile-dis_mar">29/03/2003</p>
                            </div>
                            <div class="form-profile_dis">
                                <p>Address:</p>
                                <p class="profile-dis_mar">12 Tân Thới Nhất 5, Tân Thới Nhất,<br>
                                quận 12, TP. Hồ Chí Minh</p>
                            </div>
                        </div>
                    </div>
                    <button class="btn__next3" title="Bank"><a href="bank.html"><i class="fa-solid fa-arrow-right"></i></a></button>
                    <button class="btn__next3_" title="About"><a href="aboutme.html"><i class="fa-solid fa-arrow-left"></i></a></button>
                </div>
            </div>
        </div>
        
    </section>

    <footer class="footer" id="contact">
        <div class="footer__box"></div>
        <div class="grid footer__body">
            <div class="col12 footer__body-b">
                <div class="col4 one"></div>
                <div class="col4 two"></div>
                <div class="col4 three"></div>
            </div>
        </div>
        <div class="footer__box">
            <div class="grid"><p style="color: grey; font-size: 0.9em; font-weight: lighter;">© 2023. Tất cả các quyền được bảo lưu.</p></div>
        </div>
    </footer>
</body>
</html>